# Connecting to your own RDB on AWS!

Now that you've followed [this lesson on setting up a Postgres database on AWS](https://docs.google.com/presentation/d/1VbLuhe8xrooxVSw20NxPUEuwoITWTBNsTarsVPyJ0eo/edit?usp=sharing) it's time to connect to it! 

Below we're just going to load in our library.  I already have our trusty `get_conn_cur()` function.  You just need to modify to connect you your database.  To do this just enter in your host, databse name, username, and password. 

After that you can run the function and store your connection and cursor.  Check them out after to make sure you're connected!

In [2]:
import psycopg2

In [4]:
def get_conn_cur(): # define function name and arguments (there aren't any)
  # Make a connection
  conn = psycopg2.connect(
    host="test-hw-db.codpumsddvml.us-east-1.rds.amazonaws.com",
    database="hw3_db_newton",
    user="infamous",
    password="Viperpilot36",
    port='5432')
  
  cur = conn.cursor()   # Make a cursor after

  return(conn, cur)   # Return both the connection and the cursor

In [5]:
# Get conn and cursor object
conn, cur = get_conn_cur()

In [6]:
# Check it!
conn

## Go and get your SQL functions

Go and grab your SQL functions from another notebook.  You'll need these to check that your data were inserted.

In [7]:
# put functions here and run

# Same run_query function
def run_query(query_string):

  conn, cur = get_conn_cur() # get connection and cursor

  cur.execute(query_string) # executing string as before

  my_data = cur.fetchall() # fetch query data as before

  # here we're extracting the 0th element for each item in cur.description
  colnames = [desc[0] for desc in cur.description]

  cur.close() # close
  conn.close() # close

  return(colnames, my_data) # return column names AND data

# Column name function for checking out what's in a table
def get_column_names(table_name): # arguement of table_name
  conn, cur = get_conn_cur() # get connection and cursor

  # Now select column names while inserting the table name into the WERE
  column_name_query =  """SELECT column_name FROM information_schema.columns
       WHERE table_name = '%s' """ %table_name

  cur.execute(column_name_query) # exectue
  my_data = cur.fetchall() # store

  cur.close() # close
  conn.close() # close

  return(my_data) # return

# Check table_names
def get_table_names():
  conn, cur = get_conn_cur() # get connection and cursor

  # query to get table names
  table_name_query = """SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public' """

  cur.execute(table_name_query) # execute
  my_data = cur.fetchall() # fetch results

  cur.close() #close cursor
  conn.close() # close connection

  return(my_data) # return your fetched results

def sql_head(table_name):
  conn, cur = get_conn_cur()
  my_query = 'SELECT * FROM ' + table_name + ' LIMIT 5;'
  ret_val = pd.read_sql_query(my_query, conn)
  return ret_val

## Now make a table and push some data over - 10 points

We're going to learn how to do this next week, but for now just run these cells to make a table in your database and then push a row of data over.

This homework is all or nothing as it needs to work for credit.

In [8]:
# make table
conn, cur = get_conn_cur()
tq = """CREATE TABLE profs (
          prof_id INTEGER PRIMARY KEY,
          prof_age INTEGER NOT NULL , 
          prof_last_name VARCHAR(255) NOT NULL
          );"""
cur.execute(tq)
conn.commit()

In [9]:
# push a row
iq = """INSERT INTO profs (prof_id, prof_age, prof_last_name) VALUES(2344819, 37, 'dirienzo');"""
conn, cur = get_conn_cur()
cur.execute(iq)
conn.commit()

In [16]:
# Now check the table name and sql_head for credit.  You should see one row with my info 
names = get_table_names()
names
sq = "SELECT * FROM profs LIMIT 5;"
run_query(sq)

(['prof_id', 'prof_age', 'prof_last_name'], [(2344819, 37, 'dirienzo')])